.EvolutionChart-container {
  border-top: 2px solid #e34343;

  width: 90%;

  display: flex;

  justify-content: center;
  align-items: center;
  flex: 2;
}

.ChartImage {
  flex: 1;
  max-width: 10em;
  max-height: 10em;
  margin: 1em;
}

.arrow {
  transform: rotateZ(90deg);
  width: 3em;
}
