.PokedexList-container {
  background-color: #480202;

  border: 5px solid #eb7575;
  border-radius: 15px;

  flex: 1;

  overflow-y: scroll;

  padding: 0;
}

::-webkit-scrollbar {
  width: 1em;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #b13333;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background: #e34040;

  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb :hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #ce4040;
}
