.SearchBar-container {
  height: 2em;
  width: 20em;

  position: absolute;

  top: 2em;
  right: 2em;

  display: flex;

  justify-content: right;
}
.SearchBarInvisible {
  width: 0;
}

.SearchBar-Box {
  width: 100%;
  transition: 0.5s;
  padding-left: 0.25em;
}

.BarInvisible {
  /* opacity: 0; */
  width: 0;
  border: 0;
  padding: 0;
}

.SearchBar-Icon {
  cursor: pointer;
  border-radius: 5px;

  background-color: #f9e6e6;
}

.SearchBar-Icon:active {
  background-color: #e6cdcd;
}
